<div class="etabs-tabgroup">
  <div class="etabs-tabs"></div>
  <div class="etabs-buttons"></div>
</div>
<div class="etabs-views"></div>
<a [routerLink]="['/tabs/tab1']">Click to view content</a>
<script>
  /*
    const TabGroup = require("electron-tabs");
    const dragula = require('dragula');

    // 2. Define the instance of the tab group (container)
    let tabGroup = new TabGroup({
        // If you want a new button that appends a new tab, include:
        newTab: {
            title: 'New Tab',
            // The file will need to be local, probably a local-ntp.html file
            // like in the Google Chrome Browser.

            //src: "./some-index-file.html",
            //visible: true,
            //webviewAttributes: {
            //    nodeintegration: true
            //}
        },
        ready: tabGroup => {
            dragula([tabGroup.tabContainer], {
                direction: 'horizontal'
            });
        }
    });

    // 3. Add a tab from a website
    let tab1 = tabGroup.addTab({
        title: "View1",
        src: "/tabs/tab1.html",
        visible: true,
        closable: false,
        active: true,
    });

    // 4. Add a new tab that contains a local HTML file
    let tab2 = tabGroup.addTab({
        title: "View2",
        src: "./local.html",
        visible: true,
        // If the page needs to access Node.js modules, be sure to
        // enable the nodeintegration
        webviewAttributes: {
            nodeintegration: true
        },
        visible: true,
        closable: false
    });
    let tab3 = tabGroup.addTab({
        title: "View3",
        src: "./local.html",
        visible: true,
        closable: false,
        // If the page needs to access Node.js modules, be sure to
        // enable the nodeintegration
        webviewAttributes: {
            nodeintegration: true
        }
    });
    */
</script>
<router-outlet></router-outlet>
